<h1>Welcome to Brewfest!</h1>
<div id="helloExample"></div>
<script>
    var HelloMessage = React.createClass({displayName: "HelloMessage",
    render: function() {
        return React.createElement("div", null, "Hello ", this.props.name);
    }
});

React.render(React.createElement(HelloMessage, {name: "John"}), document.getElementById('helloExample'));
</script>