<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Top 10 Ranking Beers</h2>
  </div>

  <ul class="list-group">
    <% @rankings.each do |hash| %>
        <li class="list-group-item">
          <a href="#">
              <%= hash["bname"] %><br/>
              Average Ranking: <%= hash["avg"].to_f.round(2) %> <br/>
            <%= image_tag(hash["image"], :border=>0) %>
          </a>
        </li>
    <% end %>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Top 5 Breweries
  </div>

  <ul class="list-group">
    <% @breweries.each do |brewery| %>
        <li class="list-group-item">
          <%= link_to image_tag(brewery["image"], :border=>0), brewery_path(brewery["id"]) %>
        </li>
    <% end %>
  </ul>
</div>

