<h1>Listing Brews</h1>
<ul>
  <% @brew.each do |brew| %>
      <li>
        <h2><%= link_to 'ratings', brewery_brew_ratings_path(brew.brewery_id, brew.id) %></h2>
        <h2><%= link_to brew.name, new_brewery_brew_rating_path(brew.brewery_id, brew.id) %></h2>
      </li>

  <% end %>
</ul>