/*
 * Globals
 */



/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #A93CD4;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.jumbotron {
    padding-bottom: 0px;
    background-color: #F6D586;
}
ul {
    list-style-type : none;
}

.panel-default>.panel-heading {
    background-color: #E9DFEC;
}
.list-group-item a {
    color: #101010;
    display: block;
    background-color: #F3E2B9;
    padding: 15px;
    border-radius: 5px;
}

.list-group a:hover {
    background-color: #F6D586;
}

.brewery {
    margin-bottom: 15px;
}

