<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>2015 Brewfest</title>
  <script src="https://fb.me/react-0.13.3.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/breweries">Breweries</a></li>
              <li><a href="#">Rankings</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">

        <%= yield %>

      </div>

      <div class="mastfoot">
        <div class="inner">

        </div>
      </div>

    </div>

  </div>

</div>
</body>
</html>
